.feynman__link {
  color: #2f80ed;
  text-align: right;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  right: 48px;
  top: 50%;
  text-decoration: none;
  transition: opacity 1s ease 0.2s;
}

.feynman__link:hover {
  opacity: 0.3;
}