.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* СТИЛИ HEADER */

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  position: relative;
  margin: 0;
  background-color: #f2f2f2;
  z-index: 0;
}

.header__logo {
  position: absolute;
  top:30px;
  left: 64px;
  width: 183px;
  height: 32px;
}

.header__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 730px;
  margin-left: 64px;
}

.title__text {
  display: flex;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  margin: 0;
  color: black;
}

.header__subtitle{
  position: absolute;
  bottom:30px;
  left: 64px;
  width: 388px;
}

.subtitle__text {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: black;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration{
  position: absolute;
  width: 765px;
  height: 608px;
  background-size: contain;
  bottom: 0;
  right: 0;
  z-index: 0;
}

.header__square-pic {
  position: absolute;
  background-color: #2f80ed;
  height: 568px;
  width: 568px;
  top: 64px;
  right: 0;
  z-index: -1;
}

/* СТИЛИ HEADER ЗАКОНЧИЛИСЬ*/

/* СТИЛИ MAIN*/

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* СТИЛИ DESCRIPTION */

.description {
  margin: 100px auto 100px;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
}

.two-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin: 0;
}

.two-colums__brief {
  width: 175px;
  display: flex;
  align-items: flex-start;
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color:  #2f80ed;
}

.two-colums__main-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  width: 80%;
  min-width: 784px;
  color: black;
}

.main-text__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.main-text__paragraph_outer {
  margin: 0;
}

.main-text__paragraph_inner {
  margin: 30px 0 30px;
}

.span-accept {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

/* СТИЛИ DIGITS */

.digits {
  margin: 0 auto 100px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}

.section-title {
  margin: 0;
  width: 60%;
  display: flex;
  justify-content: center;
}

.section-title__text {
  margin: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.section-subtitle {
  margin: 20px auto 0;
  width: 60%;
  display:inline-block;
}

.section-subtitle__text {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}

.table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}

.table_width {
  width: 1100px;
}

.cell {
  margin: 0;
  list-style-type: none;
  padding: 0;
}

.table__cell {
  display: flex;
  flex-basis: 250px;
  flex-direction: column;
  margin: 60px 0 0;
}

.heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

.text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 20px 0 0;
}

.text_nether {
  margin: 20px 0 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;

}

/* СТИЛИ FEYNMAN */

.feynman {
  height: 890px;
  position: relative;
  background-color: #f2f2f2;
  z-index: 0; 
}

.feynman__title {
  color: black;
  margin: 100px auto 0;
  width: 648px;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
}

.feynman__subtitle {
  color: black;
  margin: 70px auto 0;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  color: #2f80ed;
  text-align: right;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  right: 48px;
  top: 50%;
}

.feynman__image {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 867px;
  height: 637px;
  z-index: -1;
}

/* СТИЛИ KAUFMAN */

.kaufman {
  margin: 0;
  background-color: #1f1f1f;
  z-index: -2;
  display: flex;
  position: relative;
  padding: 90px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.kaufman__triangle {
  margin: 0;
  position: absolute;
  width: 877px;
  height: 877px;
  right: -210px;
  top: 0;
  z-index: -1;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: cover;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.section-title__text_theme_dark {
  color: white;
}

.section-subtitle__text_theme_dark {
  color: white;
}

/* СТИЛИ MAIN ЗАКОНЧИЛИСЬ */

/* FOTER */

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  min-height: 350px;
  background-color: #1f1f1f;
}

.footer__columns {
  margin: 60px 0 40px;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.logo__place_footer {
  margin: 0;
  width: 185px;
  height: 35px;
}

.footer__author {
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: white;
}

.footer__column_content_info {
  color: white;
}

.column-heading_info {
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin: 0;
}

.column-links {
  list-style-type: none;
  padding: 0;
  margin: 20px 0 16px;
}

.column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: white;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}


.footer__column_content_social {
  color: white;
}

.column-heading_social {
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  text-align: left;
  margin: 0;
  padding: 0;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

/* СТИЛИ FOOTER ЗАКОНЧИЛИСЬ */