.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: #f2f2f2;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  position: relative;
  margin: 0;
  /* выше установили ограничения для секции */
}


.logo {
z-index: 1;
}

.logo_place_header {
  position: absolute;
  top:30px;
  left: 64px;
  width: 183px;
  height: 32px;
}

.header__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 730px;
  margin-left: 64px;
  z-index: 1;
}

.title__text {
  display: flex;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  margin: 0;
  color: black;
}

.header__subtitle{
  position: absolute;
  bottom:30px;
  left: 64px;
  width: 388px;
  z-index: 1;
}

.subtitle__text {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: black;
}

.link {
  color: #2f80ed;
}

.subtitle__link {
  text-decoration: none;
}

.main-illustration{
  position: absolute;
  width: 765px;
  height: 608px;
  background-size: contain;
}
.main-illustration_place {
  bottom: 0;
  right: 0;
}

.square-pic {
  position: absolute;
  background-color: #2f80ed;
}
/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  top: 64px;
  right: 0;
  z-index: -1;
}
/* СТИЛИ HEADER ЗАКОНЧИЛИСЬ*/

/* СТИЛИ MAIN*/

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.description {
  margin: 100px auto 100px;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  border: 1px solid rgb(255, 0, 221);
}

.two-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin: 0;
}

.two-colums__brief {
  width: 175px;
  display: flex;
  align-items: flex-start;
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color:  #2f80ed;
}

.two-colums__main-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  width: 80%;
  min-width: 784;
  color: black;
}

.main-text__paragraph {
  line-height: 34px;  
  font-size: 24px;
  font-weight: normal;
}

.main-text__paragraph_outer {
  margin: 0;
}

.main-text__paragraph_inner {
  margin: 30px 0 30px;
}

.span-accept {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

/* СТИЛИ ДЛЯ DIGITS */

.digits {
  margin: 0 auto 100px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  border: 1px solid blue;
}

.section-title {
  margin: 0;
  width: 60%;
  display: flex;
  justify-content: center;
}

.section-title__text {
  margin: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.section-subtitle {
  margin: 20px auto 0;
  width: 60%;
  display:inline-block;
}

.section-subtitle__text {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}

.table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}

.table_width {
  width: 1100px;
}

.cell {
  margin: 0;
}

.table__cell {
  display: flex;
  flex-basis: 250px;
  flex-direction: column;
  margin: 60px 0 0;
}

.heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

.text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 20px 0 20px;
}

.text_nether {
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;

}

/* СТИЛИ ДЛЯ КАУФМАН */

.feynman {
  height: 890px;
  position: relative;
  border: 1px solid red;
}

.feynman__image {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 867px;
  height: 637px;
  z-index: -1;
}

.feynman__title {
  color: black;
  margin: 100px auto 0;
  width: 648px;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
}

.feynman__subtitle {
  color: black;
  margin: 70px auto 0;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  color: #2f80ed;
  text-align: right;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  right: 48px;
  top: 50%;
}


/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
